header{
    width: 100%;
    height:44px;
    background: #000000;
}
.large{
    margin: 0 auto;
    height:100%;
    width: 1000px;
    display: none;
}
/*.large img{margin-top: 10px;}*/
.large>a{
    float: left;
    line-height: 44px;
    padding: 0 10px;
    color: #fff;
    margin: 0 25px;
}
.large a:first-child{
    padding-left: 15px;
    text-align: left;
}
.small{
    width: 100%;
}
.small .option{
    float: left;
    line-height: 44px;
}

.small .option a{
    color: #fff;
}
.menu{
    width: 10%;
    text-align: left;
    padding-left: 15px;
    position: relative;
}
.logo{
    width: 80%;
    text-align: center;
}
.car{
    width: 10%;
    text-align: right;
    padding-right: 15px;
}
.son {
    background: #000000;
    padding-left: 50px;
    display: none;
    position: absolute;
    left: 0;top: 44px;
    z-index: 999;
}
.son a{
    display: block;
    width: 100%;
    border-bottom: 1px solid #333333;
}
.son a:last-child{
    border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 735px){
    .large{
        display: block;
    }
    .small{
        display: none;
    }

}
.wheel{
    height:400px;
    width: 100%;
    position: relative;
}
.box{
    width: 100%;height: 100%;
    position: relative;
    overflow: hidden;
}
.box .list{
    position: absolute;
    width: 100%;
    height: 100%;
}
.box .one{
    background: url("img/event_small.jpg")no-repeat;
    background-position:center bottom;
    background-size: cover;
}
.box .two{
    background:#000 url("img/iphone.jpg")no-repeat;
    background-position:center bottom;
    background-size: contain;
    left: 100%;
}
.box .three{
    background:#fff url("img/macbookpro_small.jpg")no-repeat;
    background-position:center bottom;
    background-size: contain;
    left:100%;
}
@media screen and (min-width: 735px){
    .box .one{
        background: url("img/event_medium.jpg")no-repeat;
        background-position: center -200px;
        background-size: cover;
    }
    .box .three{
        background:#fff url("img/macbookpro_medium.jpg")no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}
@media screen and (min-width:1075px ){
    .wheel{
        height:580px;
    }
    .box .one{
        background:#000 url("img/event_large.jpg")no-repeat;
        background-size: cover;
        background-position:center -200px ;
    }
    .box .three{
        background:#fff url("img/macbookpro_large.jpg")no-repeat;
        background-size: contain;
        background-position:center bottom ;
    }

}
.left{
    position: absolute;
    width: 30%;
    height:100%;
    left: 0;top: 0;
    z-index: 888;
}
.right{
    position: absolute;
    width: 30%;
    height:100%;
    right: 0;top: 0;
    z-index: 888;
}

.rightbtn{
    position: absolute;
    right: 20px;
    top:0;
    bottom:0;
    margin: auto;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s linear .5s;
}
.leftbtn{
    position: absolute;
    left: 20px;
    top:0;
    bottom:0;
    margin: auto;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s linear .5s;
}
.left:hover>.leftbtn{
    opacity: 1;
}
.right:hover>.rightbtn{
    opacity: 1;
}
.btns{
    width: 170px;
    height:3px;
    position: absolute;
    left: 0;
    right:0;margin: auto;
    bottom:50px;
    z-index: 777;
}
.btns .btns-list{
    float: left;width: 50px;
    height:100%;margin-right: 10px;
    background: #444444;
}
.btns .btns-list:last-child{
    margin: 0;
}
.btns-list .progress{
    height: 100%;
    width: 0;
    background: #ccc;
}

.footer{
    width: 100%;
    background: #f2f2f2;
    padding-bottom: 20px;
}

#footer-top{
    width: 100%;
    font-size: 12px;
    line-height: 48px;
    border-bottom:1px solid #ccc;
    color: #666;
    margin: 0 20px;
}
#footer-medium>a{
    font-size: 12px;
    color: #3076CC;
}
#footer-medium{
    width: 100%;
    font-size: 12px;
    line-height: 30px;
    border-bottom:1px solid #ccc;
    color: #666;
    margin: 0 20px;
    margin-top: 15px;
}

.footer-nav{
    width: 100%;
    padding: 0 20px;
}
.footer-fluid{
    display: none;
}
.footer-row{
    display: block;
    width: 100%;
    cursor: pointer;
}
.footer-w{
    width: 100%;
    border-bottom:1px solid #ccc ;
}
.footer-w>span{
    font-size: 13px;
    color: #555;
    line-height: 44px;
    text-align: left;
}
.footer-w>.strong-right{
    float: right;
}
.soner{
    width: 100%;
    display: none;
}
.soner>a{
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 36px;
}

.footer-bottom{
    width: 100%;
    padding: 0 20px;
    font-size: 12px;line-height: 36px;
}
#footer-l{
    display: block;
    color: #666;
    padding-right: 30px;
}
.china{
    color: #666;
}
.footer-bottom-nav{
    display: block;
}
.footer-bottom-nav>a{
    color: #666;
    padding-right: 20px;
}
.bottom-d{
    width: 100%;
    padding:0 20px;
    color: #666;
    font-size: 12px;
    line-height: 36px;
}
.bottom-d>a{
    color: #666;
}
@media screen and (min-width:800px){
    .footer-nav{
        width: 70%;
        font-size: 12px;
        color: #666;
        margin: auto;
        margin-top: 20px;
    }
    .footer-nav:before,.footer-nav:after{
        content: "";
        display: block;
    }
    .footer-nav:after{
        clear: both;
    }
    .footer-fluid{
        display: block;
        float: left;
        width: 20%;
    }
    .footer-fluid>a{
        font-size: 12px;
        display: block;
        line-height: 24px;
        color: #666;
    }
    .footer-fluid>strong{
        font-size: 12px;
        color: #666;
        line-height: 30px;
    }
    .footer-fluid>.stronger{
        display: block;
        margin-top: 30px;
    }
    #footer-medium{
        width: 70%;
        margin: auto;
        padding: 0;
    }
    #footer-top{
        width: 70%;
        margin: auto;
        padding: 0;
    }

    .footer-row{
        display: none;
    }

    .footer-bottom{
        width: 70%;
        margin: auto;
        padding: 0;
        font-size: 12px;line-height: 36px;
    }
    .footer-bottom:before,.footer-bottom:after{
        content: '';display: block;
    }
    .footer-bottom:after{
        clear: both;
    }
    #footer-l{
        float: left;
        color: #666;
    }
    .china{
        float: right;
        color: #666;
    }
    .footer-bottom-nav{
        float: left;
    }
    .footer-bottom-nav>a{
        color: #666;
        padding-right: 20px;
    }
    .bottom-d{
        display: block;
        width: 70%;margin: auto;
        color: #666;
        padding: 0;
        font-size: 12px;
    }
    .bottom-d>a{
        color: #666;
    }
}

